<nav class="tabbar">
  <a href="{{ url_for('kid.home') }}" class="{{ 'is-active' if request.endpoint == 'kid.home' }}">
    <span class="tabbar__ico">&#127968;</span><span>Home</span>
  </a>
  <a href="{{ url_for('kid.shop') }}" class="{{ 'is-active' if request.endpoint == 'kid.shop' }}">
    <span class="tabbar__ico">&#128717;&#65039;</span><span>Shop</span>
  </a>
  <a href="{{ url_for('kid.stuff') }}" class="{{ 'is-active' if request.endpoint == 'kid.stuff' }}">
    <span class="tabbar__ico">&#127942;</span><span>My stuff</span>
  </a>
  <form method="post" action="{{ url_for('auth.logout') }}">
    {{ csrf_field() }}
    <button type="submit"><span class="tabbar__ico">&#128075;</span><span>Bye</span></button>
  </form>
</nav>
